<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HotelerosApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Final_hoTELEROs"
        tools:targetApi="31">
        <activity
            android:name=".auth.register.UploadDriverDocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".auth.register.RegisterVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".auth.register.RegisterSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".auth.register.AddProfilePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".auth.register.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".auth.password.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".client.fragment.LocationSelectorActivity"
            android:exported="true" />
        <activity
            android:name=".superadmin.SuperadminActivity"
            android:exported="true" />
        <activity
            android:name=".superadmin.ListaUsuariosActivity"
            android:exported="true" />
        <activity
            android:name=".superadmin.ListaSolicitudesActivity"
            android:exported="true" />
        <activity
            android:name=".superadmin.SolicitudesTaxistasActivity"
            android:exported="true" />
        <activity
            android:name=".superadmin.RegistroAdministradorActivity"
            android:exported="true" />
        <activity
            android:name=".superadmin.ReporteReservasActivity"
            android:exported="true" />
        <activity
            android:name=".superadmin.LogEventosActivity"
            android:exported="true" />
        <activity
            android:name=".adminhotel.AdminHotelActivity"
            android:exported="true" />
        
        <activity
            android:name=".adminhotel.CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".adminhotel.HabitacionesActivity"
            android:exported="true" />
        <activity
            android:name=".adminhotel.PerfilHotelActivity"
            android:exported="true" />
        <activity
            android:name=".adminhotel.ReporteVentasActivity"
            android:exported="true" />
        <activity
            android:name=".adminhotel.ServiciosHotelActivity"
            android:exported="true" />
        <activity
            android:name=".adminhotel.TaxistasHotelActivity"
            android:exported="true" />
        <activity android:name=".adminhotel.NuevoServicioActivity"/>
        <activity
            android:name=".AllHotelServicesActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".HotelServicesPreviewActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
    </application>

</manifest>